.mainContainer {
  width: 100vw;
  height: 84.9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DDD;

}

.FormContainer{
  min-width: 500px;
  width: 35vw;
  height: 63vh;
  background-color: #2762c0;
}