.mainContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.FormContainer{
    width: 30vw;
    height: 40vh;
    background-color: #2762c0;
}