.icon:hover {
  background-color:  blue;
}

.field:hover {
  background-color: gray;
}


.tableScroll {
  max-height: 550px;
  height: 47.5vh;
  overflow-y: 'scroll';
}

.tableScroll thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}